<div class="content-area content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 content-left">
        <div class="row">
          <div class="col-lg-12 col-md-12 blog-content">
            <div class="blog-title">
              <h5><%=post.title%></h5>
              <p>
                <a href="/">Home</a> <i class="fa fa-chevron-right"></i>
                <a href="/category/<%=post.nameTitle%>"><%=post.nameTitle%></a>
              </p>
              <p>
                <b>by</b> Noob Boy &ensp;
                <i class="fa fa-chevron-right"></i> &ensp;
                <b>on</b> <%=post.date%> &ensp;
                <i class="fa fa-chevron-right"></i> &ensp;
                <b>views:</b><%=post.views%>
              </p>
            </div>
            <hr />
            <div class="blog-content-main">
              <%-post.content%>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 blog-related pl-0 pr-0 mt-2">
            <div class="realted-posts">
              <div class="title-right">
                related posts
              </div>
              <div class="contentsub-right">
                <div class="row">
                  <% postRelate.forEach((el) => { %>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="col-lg-12 col-md-12">
                      <div class="box">
                        <div
                          class="img-contain"
                          style="width: 160px; height: 100px;"
                        >
                          <a href="/post/<%= el._id %>">
                            <img
                              src="/img/logo/<%= el.logo %>"
                              alt=""
                              style="width: 160px; height: 100px;"
                            />
                          </a>
                        </div>
                        <div class="news-content">
                          <a href="/post/<%= el._id %>">
                            <p class="text-left">
                              <%= el.title %>
                            </p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 blog-comment pl-0 pr-0 mt-2">
            <div class="blog-comment">
              <div class="title-right">
                <i class="fa fa-comment fa-1x mr-1 text-success"></i>Comment
              </div>
              <div class="comment-content">
                <%if (username){ %>
                <div class="parent-comment" id="parent-comment">
                  <% allComment.forEach(el => { %> <% if(el.status == true){ %>
                  <div class="comment">
                    <div class="comment-title">
                      <p><%=el.username%></p>
                      <p>
                        <%=el.date.toISOString().split("T")[0]%> <%=el.time%>
                      </p>
                    </div>
                    <div class="comment-sub">
                      <p>
                        <%=el.comment%>
                      </p>
                    </div>
                  </div>
                  <% } %> <% }); %>
                </div>
                <form action="" class="form-comment" id="form-comment">
                  <textarea
                    name="comment-content"
                    id="comment-content"
                    cols="70"
                    rows="4"
                    placeholder="Enter your comment....."
                  ></textarea>
                  <input
                    type="hidden"
                    name=""
                    id="id-post"
                    value="<%=post._id%>"
                  />
                  <input
                    type="hidden"
                    name=""
                    id="username"
                    value="<%=username.username%>"
                  />
                  <button type="submit">Comment</button>
                </form>
                <% }else{ %>
                <div class="comment-login">
                  <a href="/login" class="text-success"
                    >Login to comment post</a
                  >
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include("../patials/content-right") %>
    </div>
  </div>
</div>
